.container{
    text-align: center;
}


.title{
    margin-top: 50px;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.title span{
    color: #26ffcb;
    padding-left: 15px;
}

.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    background: #2d553a;
    font-size: 20px;
    color: #ffffff;
    margin-top: 5px;
    padding: 15px 20px;
}

.boxes{
    display: flex;
    height: 120px;
    width: 120px;
    /* background: #357b57; */
    border: 3px solid #c5c5c4;
    border-radius: 12px;
    cursor: pointer;
    backdrop-filter: blur(20px);
    margin-left: 5px;
    margin-top: 5px;

}
.board{
    height: 380px;
    width: 380px;
    display: flex;
    margin: auto;
    padding: 20px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
   
}

.boxes img{
    margin: 50px 50px;
}
.title img{
    padding: 20px 20px;
    height: 30px;
}
.end-icons h3{
    color: white;
}
.end-icons p{
    color: white;
    font-size: 11px;
    font-weight: bold;
}